# Functions

In [1]:
# even odd find 
num=12
if num%2==0:
    print('even')
else:
    print('odd')

even

In [2]:
## syntax
def function_name(parameters):
    '''docstring'''
    # function body
    return expression

In [3]:
def even_or_odd(num):
    '''this function is used to find even or odd'''
    if num%2==0:
        print('even')
    else:
        print('odd')

In [5]:
even_or_odd(13)

odd

In [6]:
even_or_odd(66)

even

In [9]:
def print_hello():
    print("hello")

In [10]:
print_hello()

hello

In [30]:
# multiplication using function
def gun_function(num1,num2):
    return num1*num2,num1+num2

In [31]:
gun_function(12,24)

(288, 36)

In [16]:
def name_print(name='Guest'):
    print("hello",name)

In [19]:
name_print()

hello Guest

In [20]:
# positional arguments 

def print_value(*baut):
    for value in baut:
        print(value)

In [22]:
print_value(10,20,30,40,50,56,66,'masum')

10
20
30
40
50
56
66
masum

In [26]:
# keyword arguments
def print_details(**inf0):
    for key,value in inf0.items():
        print(f"{key} : {value}")

In [29]:
print_details(name='Masum',age=24,city='Dhaka')

name : Masum
age : 24
city : Dhaka