### List are ordered, Mutable collection of items
### contains different data types

In [1]:
lst= []
print(type(lst))

<class 'list'>

In [5]:
names =['Khan','Ali','Hussain',1,2,3,4.5] # mixed list
print(names)

['Khan', 'Ali', 'Hussain', 1, 2, 3, 4.5]

In [6]:
print(type(names))

<class 'list'>

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10] # integer list
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
cars=['BMW','Toyota','Honda','Audi','Ford']  # first 10 number 0-9: N  -2 -1 0 1 2 3 4 5 6 7 8 9

In [ ]:
print(cars[1])
print(cars[0])
print(cars[-1])

Toyota
BMW
Ford

In [ ]:
print(cars[1:])
print(cars[:3]) # 0-2
print(cars[1:4]) # 1-3

['Toyota', 'Honda', 'Audi', 'Ford']
['BMW', 'Toyota', 'Honda']
['Toyota', 'Honda', 'Audi']

In [20]:
cars=['BMW','Toyota','Honda','Audi','Ford']

In [21]:
cars[0]='Mazda'
print(cars)

['Mazda', 'Toyota', 'Honda', 'Audi', 'Ford']

In [ ]:
cars[1:]='Masum Billah'
print(cars)

['Mazda', 'M', 'a', 's', 'u', 'm', ' ', 'B', 'i', 'l', 'l', 'a', 'h']

In [36]:
# List Methods
cars=['BMW','Toyota','Honda','Audi','Ford'] 
print(cars)

['BMW', 'Toyota', 'Honda', 'Audi', 'Ford']

In [37]:
cars.append('bugatti')
cars.append('Lamborghini')
print(cars)

['BMW', 'Toyota', 'Honda', 'Audi', 'Ford', 'bugatti', 'Lamborghini']

In [38]:
cars.insert(1,'Ferrari')
print(cars)

['BMW', 'Ferrari', 'Toyota', 'Honda', 'Audi', 'Ford', 'bugatti', 'Lamborghini']

In [39]:
cars.pop()
print(cars)

['BMW', 'Ferrari', 'Toyota', 'Honda', 'Audi', 'Ford', 'bugatti']

In [40]:
cars.pop(-2)

'Ford'

In [41]:
cars

['BMW', 'Ferrari', 'Toyota', 'Honda', 'Audi', 'bugatti']

In [42]:
cars.append('BMW')
cars

['BMW', 'Ferrari', 'Toyota', 'Honda', 'Audi', 'bugatti', 'BMW']

In [ ]:
cars.remove('BMW') # removes first occurrence of the value
print(cars)

['Ferrari', 'Toyota', 'Honda', 'Audi', 'bugatti', 'BMW']

In [44]:
print(cars.index('Audi'))

3

In [51]:
# list sorting
numbers=[1,2,5,3,8,7,4,6,10,9]

In [52]:
numbers

[1, 2, 5, 3, 8, 7, 4, 6, 10, 9]

In [ ]:
numbers.sort() # sorts the list in ascending order

In [54]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
numbers.reverse() # reverses the list

In [56]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
# list slicing
numbers=[1,2,5,3,8,7,4,6,10,9]

In [67]:
print(numbers[0])
print(numbers[3])
print(numbers[-1])
print(numbers[:4])
print(numbers[::2])
print(numbers[::-3])

1
3
9
[1, 2, 5, 3]
[1, 5, 8, 4, 10]
[9, 4, 3, 1]

In [68]:
# iterating through a list
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry
date
elderberry

In [70]:
# iterating through a list with index
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 apple
1 banana
2 cherry
3 date
4 elderberry

In [74]:
# list comprehension
lst= []
for i in range(10):
    lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
lst1=[i**2 for i in range(10)]
lst1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
 #Basic sytex of list comprehension:
 # [expression for item in iterable]
# with optional condition:
 # [expression for item in iterable if condition]

In [80]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [82]:
even_number=[i**2 for i in range(10) if i%2==0]
print(even_number)

[0, 4, 16, 36, 64]

In [84]:
# NESTED LIST COMPREHENSION
list1=[1,2,3]
list2=['a','b','c']

pair=[[i,j] for i in list1 for j in list2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c']]