## Dictionaries
- Introduction to dictonaries
- creating dictionary
- accessing dictionary elements
- dictionary method
- iteration over dictionary

In [1]:
# creating dictionaries
empty_dict ={}
print(type(empty_dict))

<class 'dict'>

In [2]:
mm=dict()
print(type(mm))

<class 'dict'>

In [3]:
student={
    "name":"Masum",
    "age":24,
    'id': 1
}

In [4]:
student

{'name': 'Masum', 'age': 24, 'id': 1}

In [15]:
student={
    "name":"Masum",
    "age":24,
    'id': 23,
    "age":23# KEY : VALUE
}

In [14]:
student

{'name': 'Masum', 'age': 23, 'id': 23}

In [16]:
student={
    "name":"Masum",
    "age":24,
    'id': 1
}

In [ ]:
print(student['age']) # accessing value using key

24

In [18]:
# moedifying dictionary values
student

{'name': 'Masum', 'age': 24, 'id': 1}

In [ ]:
student['id']=100 # updating value
student

{'name': 'Masum', 'age': 24, 'id': 100}

In [ ]:
student['grade']='A+' # adding new key-value pair
student

{'name': 'Masum', 'age': 24, 'id': 100, 'grade': 'A+'}

In [21]:
del student['age'] # deleting a key-value pair
student

{'name': 'Masum', 'id': 100, 'grade': 'A+'}

In [25]:
# dictionary methods
keys=student.keys()
print(keys)
value=student.values()
print(value)
items=student.items()
print(items)

dict_keys(['name', 'id', 'grade'])
dict_values(['Masum', 100, 'A+'])
dict_items([('name', 'Masum'), ('id', 100), ('grade', 'A+')])

In [27]:
# iteration over dictionaries
for key in student.keys():
    print(key)

name
id
grade

In [28]:
for x in student.values():
    print(x)

Masum
100
A+

In [29]:
for key,value in student.items():
    print(key,value)

name Masum
id 100
grade A+

In [30]:
# nested dictionaries
students={
    'student1':{'name':'Masum',
        'age':24
    },
    'student2':{
        'name':'John',
        'age':22
    }
}
students

{'student1': {'name': 'Masum', 'age': 24},
 'student2': {'name': 'John', 'age': 22}}

In [33]:
# dictionary comprehension
squares={x:x**2 for x in range(10)} 
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [34]:
squares={x:x**2 for x in range(10) if x%2==0}
squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}